<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
<!-- <groups>  
      <run>  
         <include name="demo"/>  
      </run>  
   </groups>   -->
   <test name="ToolsQA" >
       <classes> 
          <class name="demoPackage.GroupDependency" />
       </classes>
   </test>
 </suite>